#skenav li a:hover, #skenav .sfHover { color: #000;}
html, body, blockquote, cite, ul, td {background: transparent;border: 0;margin: 0;padding: 0;vertical-align: baseline;}
ul {  margin-bottom: 20px;  line-height: 22px;}
table {border-collapse: collapse;  border-spacing: 0;  }
a{transition: all 0.3s linear 0s;  -webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s;  }
.centur {text-shadow: 2px 2px #000000;}
#logo {margin-bottom: 5px; margin-top: 14px; max-height: 62px; position: relative;}
.header-topbar{padding-top:1px;}
.social_icon li {display: inline-block; list-style-type: none; margin-left: 0;}
.social_icon {text-align:center; margin-bottom: 55px;}
.social_icon ul{margin: 1px 0 0;}
.social_icon .head_social_title { color: #fff;font-size: 32px; letter-spacing: 1px; margin-top:40px; }
.social_icon:before { background: none repeat scroll 0 0 #fff; content: ""; height: 1px; margin-left: auto; margin-right: auto; opacity: 0.6; width: 40%; }
.social_icon a { background: none repeat scroll 0 0 transparent; border: 2px solid #fff; border-radius: 100%; color: #ffffff; display: inline-block; font-size: 20px; height: 24px; line-height: 24px; margin: 0 3px; padding: 6px; text-align: center; width: 24px; }
.social_icon li a:hover,.social_icon li a{-webkit-transition:all .3s ease 0s;-moz-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;transition: all .3s ease 0s;}
.social_icon li.linkedin-icon a:hover { background: none repeat scroll 0 0 #0280B0; }
.social_icon li.fb-icon a:hover { background: none repeat scroll 0 0 #3a5999; }
.social_icon li.tw-icon a:hover { background: none repeat scroll 0 0 #3aa9de; }
.social_icon li.flickr-icon a:hover { background: none repeat scroll 0 0 #D80068; }
.social_icon li.gplus-icon a:hover { background: none repeat scroll 0 0 #d14836; }
.social_icon li.youtube-icon a:hover { background: none repeat scroll 0 0 #cc332d; }
.social_icon li.foursquare-icon a:hover { background: none repeat scroll 0 0 #0cbadf; }
.social_icon li.pinterest-icon a:hover { background: none repeat scroll 0 0 #cb2028; }
.social_icon li.instagram-icon a:hover { background: none repeat scroll 0 0 #125688; }
.social_icon li.skype-icon a:hover { background: none repeat scroll 0 0 #0072b1; }
.social_icon li.vk-icon a:hover { background: none repeat scroll 0 0 #45668e; }
.social_icon li.whatsapp-icon a:hover { background: none repeat scroll 0 0 #4dc247; }
.social_icon li.vimeo-icon a:hover { background: none repeat scroll 0 0  #aad450; }
body {font-weight: 500; color: #999999;font-family: 'Comic Sans', sans-serif;font-size: 13px;  line-height: 22px;background: none repeat scroll 0 0 #eeeded;}
#author-slider .slides li {   position: relative;margin: 0; -webkit-backface-visibility: hidden;}
#author-slider .slides img {width: 100%; display: block;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
.flex-caption {color: #ffffff; height: 310px; left: 0; margin: 10px auto; overflow: hidden; position: relative; right: 0; text-align: center; top: 0; width: 65%; }
.flex-caption span {font-size: 12px; line-height: 21px;display: block;font-weight: 300; }
.flex-caption .slider-title { font-weight: bold; font-size: 40px; letter-spacing: 1px; line-height: 34px; padding-bottom: 15px; text-align: center; text-transform: uppercase; width: auto; text-shadow: 6px 6px #000000;}
.flex-caption .text { margin-bottom: 10px;font-size:16px;line-height:30px;text-align:center;text-shadow: 1px 1px #000000;}
#author-slider .slides li img{  border: 4px solid #fff; border-radius: 100%; height: 200px; margin: 0 auto 19px; width: 200px;}
#skenav .ske-menu,ul.menu {font-size:13px;margin: 0px;display:block;width:auto;text-align:left;}
#skenav .ske-menu .menu li, ul.menu li {position: relative;margin-left: 0px;list-style: none outside none;display:inline-block; }
#skenav a { color: #fff; display: block; font-size: 14px; line-height: 53px; padding: 0 22px; text-decoration: none; text-transform: uppercase;}
#footer {border-top: 0 solid #30B7FF; color: #747474; margin-bottom: 0;margin-top:1px;} 	
#footer .third_wrapper { background-color: #222222; color: #888;margin: 0 auto; padding: 1px 0;}