  body {
	background-image: url('../img/back.jpg');
	background-image: image-set(url('../img/back.avif') type("image/avif"), url('../img/back.jpg') type("image/jpeg"));
	background-position: center; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
    font: 20px Montserrat, sans-serif;
    line-height: 1.6;
    color: #f5f6f7;
  }
  p {font-size: 21px;}
  .margin {margin-bottom: 40px;}
  .bg-1 {
    color: #ffffff;
  }
  .bg-2 { 
	background-color: rgba(150, 150, 150, 0.2);
	color: white;
	border: 1px solid black;
	text-shadow: 2px 2px #000000;
  }
  .bg-3 { 
	background-color: rgba(100, 100, 50, 0.3);
    color: white;
	text-shadow: 2px 2px #000000;
	border: 1px solid black;
  }
  .bg-4 { 
    background-color: rgba(0, 0, 0, 0.9);
    color: gray;
	border: 1px solid black;
  }
  .container-fluid {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .navbar {
	background-color: rgba(0, 0, 0, 0.9) !important;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 5px;
  }
  .navbar-brand {
    color: rgba(119, 119, 119, 1) !important;
  }
  .navbar-nav .nav-link:hover {
    color: #1abc9c !important;
  }
  .footertext {
	font-size: 14px;
	text-align: right;
	padding-right: 10px;
	margin: 0;
  }
  .footertext a {
    color: #337ab7;
  }
  .mariorusev {
	font-size: 50px;
	letter-spacing: 2px;
	text-shadow: 4px 4px #000000;
	}
  .biznesopisanie {
	font-size: 30px;
	letter-spacing: 1px;
	text-shadow: 2px 2px #000000;
	}
   .italictext {
    font-style: italic;
	}
   .img-profile {
    display: inline;
    border: 3px solid white;
	}
   .main-content {
    padding: 0 15px;
    margin-bottom: 15px;
	}